{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        ["module-resolver", {
          "root": ["./config/env"],
          "alias": {
            "config": "test"
          }
        }]
      ]
    }
  }
}
