{
  "extends": "eslint-config-fs",
  "rules": {
    "react/jsx-no-bind": [
      2,
      {
        "allowArrowFunctions": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "app/**/*.test.js"
      ],
      "rules": {
        "max-statements": "off"
      }
    }
  ]
}
