.todo-enter {
  opacity: .01;
  transition: opacity .3s ease-in;

  &.todo-enter-active {
    opacity: 1;
  }
}

.todo-leave {
  opacity: 1;
  transition: opacity .3s ease-in;

  &.todo-leave-active {
    opacity: .01;
  }
}

.todo-appear {
  opacity: .01;
  transition: opacity .3s ease-in;

  &.todo-appear-active {
    opacity: 1;
  }
}
