.todo-enter {
  transition: opacity .3s ease-in;
  opacity: .01;

  &.todo-enter-active {
    opacity: 1;
  }
}

.todo-leave {
  transition: opacity .3s ease-in;
  opacity: 1;

  &.todo-leave-active {
    opacity: .01;
  }
}

.todo-appear {
  transition: opacity .3s ease-in;
  opacity: .01;

  &.todo-appear-active {
    opacity: 1;
  }
}
